.circleLineContainer{
    padding-top: 10px;
}
.circle {
    width: 170px;
    height: 170px;
    margin: 20px 10px 0px 10px;
    border-radius: 1000px;
    border: 3px solid #8E5EA5;
    font-size: 1.3em;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: white;
    transition: background-color .4s linear;
}
.circleContainer{
    display: flex;
    justify-content: space-around;
}
.circle:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px #8E5EA5;
    animation: glow 1.5s linear infinite alternate;
    background-color: transparent;
}
.lineContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}
@media (max-width: 1095px){
    .lineContainer{
        display: none;
    }

}
.line{
    width: 4px;
    padding: none;
    background-color: #8E5EA5;
    height: 30px;
}
.dynamicContentInfo{
    width: 90vw;
    text-align: center;
    height: 100%;
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 1px 1px 1px black; 
    color: white;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    border: 3px solid #8E5EA5;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.urlCard{
    text-align: center;
    color: black;
    background-color: white;
    margin: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    border: 3px solid #8E5EA5;
    border-radius: 10px;
    padding: 10px !important;
    min-width: 300px;
    min-height: 200px;
}