.mainNavbar{
    justify-content: space-between;
}
.navbar{
    background-color: #131524 !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}
.navContents{
    display: flex;
    font-size: 1em;
}
.nav-link{
    text-align: center;
    color: #bbb !important;
}
@media (max-width: 1200px){
    .navContents{
        font-size: .93em;
    }
    .nav-link{
        padding: 5px;
    }
}
.navBarLogoSmall{
    display: none;
}
@media (max-width:388px){
    .navBarLogoSmall{
        display: flex;
    }
    .navBarLogo{
        display: none;
    }
}
