@keyframes scale {
    from {transform: scale(.8);}
    to {transform: scale(1);}
  }
.popupModal{
    width: 350px; 
    height: 300px; 
    position: absolute; 
    top: calc((100vh/2) - (300px/2)); 
    left: calc((100vw/2) - (350px/2)); 
    animation: scale 2s ease-in-out; 
}
.popupHeader{
    border-bottom: none; 
}
.popupTitle{
    margin-left: 24px; 
    font-weight: 900; 
    font-size: 30px;
    letter-spacing: 2px; 
    color: rgb(40, 7, 55); 
    -webkit-text-stroke: 1px rgb(165, 160, 167); 
    text-shadow: 0px 1px 2px gray; 
}
.popupTitle, .popupText{
    width: 100%; 
    text-align: center; 
}
.popupText:nth-of-type(1){
    margin-top: 12px; 
}
.popupText span{
    font-style: italic; 
    font-weight: 500; 
}
.popupFooter{
    display: flex; 
    justify-content: center; 
    border-top: none; 
}