.contentCentered{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    text-align: center;
}

.fullApplicationFooter{
    margin-top: 40px;
}

@media (max-width: 450px) {
    .fullapplicationFooter{ 
        display: none;
    }
}