.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0px;
    min-height: 100px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0px;
    height:100%;
    background: linear-gradient(to right, transparent 20%, #992653 20%, #992653 80%, transparent 80%) 0 100% / 100% 3px no-repeat;
    padding-bottom: 15px;
    color:black !important;
    font-size: x-large;
}
.section:hover{
    cursor: pointer;
    background: linear-gradient(to right, transparent 20%, green 20%, green 80%, transparent 80%) 0 100% / 100% 3px no-repeat;
}
.customLink{
    color: black;
}
.current{
    background: linear-gradient(to right, transparent 20%, green 20%, green 80%, transparent 80%) 0 100% / 100% 3px no-repeat;
}
.customLink:hover{
    color: black;
    text-decoration: none;
}