.certificationsBackImage1{
    background-image: url("../../assets/14a_Slidelabel.jpg");
    background-size: cover;
    background-position: -0px -170px;
}
.carousel-caption, .carousel-indicators{
    position: absolute;
    top: 0px;
    z-index: 1;
}
.CertificationCarouselCard{
    text-align: center;
    color: black;
    background-color: white;
    margin: 9px 9px 0 9px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    border: 3px solid #8E5EA5;
    font-size: 1em;
    max-height: 400px;
    overflow: hidden;
}
.certificationsH1{
    text-align: center; 
}
.certificationsH3{
    margin-left: 15px; 
}
@media (max-width: 1340px){
    .CertificationCarouselCard{
        font-size: .9em;
    }
}
@media (max-width: 1252px){
    .CertificationCarouselCard{
        font-size: .8em;
    }
}
@media (max-width: 820px){
    .CertificationCarouselCard{
        font-size: .7em;
    }
}
@media (max-width: 657px){
    .CertificationCarouselCard{
        font-size: .6em;
    }
}
@media (max-width: 570px){
    .CertificationCarouselCard{
        font-size: .5em;
    }
}
