.certificationsJumbotron{
    background-image: url('../../assets/certificationsHeader.jpeg');
    background-size: cover;
    color: #ccc;
    z-index: -2;
    margin: 0px;
    height: 250px;
    position: relative; 
}

.certificationsOverlay{
    height: 100%; 
    width: 100%; 
    z-index: -1; 
    position: absolute; 
    top: 0; 
    right: 0; 
    background-color: black; 
    opacity: .1; 
}