.universitiesJumbotron{
    background-image: url('../../assets/10_AWS_universities.jpg');
    background-size: cover;
    color: #ccc;
    z-index: 100;
    min-height: 250px;
    z-index: -2;
    margin: 0px;
}