.universitiesJumbotron{
    align-items: center;
    background-color: black; 
    background-image: url('../../assets/EducatorBanner.png');
    background-size: cover;
    color: white;
    position: relative;
    z-index: -1;
    margin: 0px; 
    height: 100%; 
    width: 100%; 
}