.formContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
}
.hidden{
    display: none;
}
.showing{
    display: inline;
    /* padding-left: 100px; */
}
.paddedSides{
    padding-left: 10%;
    padding-right: 10%;
}
.paymentImg {
    max-height: 100%;
    width: 100%;
}
