.nav-link{
    color: #bbb !important;
}

.customFooter{
    color:white;
    font-size:70px;
}
.footerItem:hover{
    color: white!important;
}
.responsiveIcon svg {
    height: 100px;
}
.container {
    /* align-items: flex-start;
    align-content: flex-start;  */
    padding-top: 15px;
}

/* @media screen and (max-width: 975px) {
    .container{
        flex-direction: column;
    }
  } */