.navbar {
  background-color: #131524 !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.navBarLogoSmall {
  display: none;
}
@media (max-width: 388px) {
  .navBarLogoSmall {
    display: flex;
  }
  .navBarLogo {
    display: none;
  }
}
.nav-link {
  color: #bbb !important;
}

#nav-button {
  margin-left: 0.5rem;
}
