.all-blogs-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-section {
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
    max-width: 1250px;
    margin: 20px 0px;
    border: 1px solid blue;
}