.all-blogs-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    max-width: 1250px;
    margin: 20px 0px;
}

@media (max-width: 750px){
    .featured-section {
        flex-direction: column;
    }
}
