.featured-blog {
    position: relative;
    height: 570px;
    width: 100%;
    max-width: 1250px;
    border: 1px solid purple;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    border-radius: 6px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.img-header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.featured-blog img {
    height: 80%;
}

.feat-blog-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    background-color: rgb(190,111,176, .2);
}

.feat-blog-cover span {
    position: absolute;
    bottom: .75em;
    right: .75em;
    text-shadow: 0px 0px 1px;
    color: rgb(72,61,152);
}

.feat-blog-cover:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.featured-blog-image {
    height: 20em;
    width: 20em;
    margin: 0;
    background: url("https://builtin.com/sites/default/files/styles/ckeditor_optimize/public/inline-images/software-engineer-vs-developer02.jpg");
    background-size: cover;
}

.featured-blog p {
    padding: 1em;
}

.featured-blog h3 {
    text-align: center;
    padding: .5em;
}

.icon-placement {
    position: absolute;
    top: 5px;
    right: 5px;
}

.markdown-wrap {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}