.partnersJumbotron {
    background-image: url('../../assets/8.3_AWS_partners.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    height: 250px;
    position: relative;
    margin: 0;
}