.PhilanthropyUrlCard {
  text-align: center;
  color: black;
  background-color: white;
  margin: 10px;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid #00c9cb;
  min-width: 340px;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 7px !important;
}
.cardDeckLeft {
  color: #ffffff;
  background-color: #00c9cb;
  padding: 10px;
  align-items: center;
  justify-content: center !important;
}
@media (max-width: 810px) {
  .changingFont {
    font-size: 4vw !important;
  }
}


.helpOutCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.philanthropyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}