.SBLSJumbotron{
    background-image: url('../../../assets/MicrosoftDiscoveryDay2_1.jpg');
    background-size: cover;
    color: #1E2125;
    z-index: 02;
    height:250px;
    position: relative;
    z-index: -2;
    margin: 0px;
}
