#videoList {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.videoGroup {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.carousel {
  height: 350px;
}

.singleVideo {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
