.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0px;
    min-height: 100px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0px;
    height:100%;
    color:black !important;
    /* font-weight: bold; */
    font-size: x-large;
    padding: 0px 10px 15px !important;
}

.customLink:hover{
    cursor: pointer;
    background: linear-gradient(to right, transparent 0%, green 00%, green 100%, transparent 100%) 0 100% / 100% 3px no-repeat;
}
.customLink{
    color: black;
    background: linear-gradient(to right, transparent 00%, #992653 00%, #992653 100%, transparent 100%) 0 100% / 100% 3px no-repeat;

}
.customLink:hover{
    color: black;
    text-decoration: none;
}
