.cardDeckLeft{
    text-align: center;
    height: 100%;
    color: #ffffff;
    background-color: #9971AF;
}
.card-body{
    margin: auto;
}
.cardDeckRight{
    width: 60vw;
}
.rightPanelLeftCol{
    text-align: center;
    width: 30%;
}
.rightPanelRightCol{
    width: 60%;
}
.cardColumns{
    padding:0px;
}
.staticCard{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
}
.subtleButton{
    padding-top: 50px;
    padding-bottom: 15px;
}

.buttonColor {
  color: white;
}

.toggled {
    color: #414141;
}

.subtleButton:hover{
    cursor: pointer;
    background: linear-gradient(to left, transparent 0%, green 100%, green 100%, transparent 0%) 0 100% / 100% 4px no-repeat;
}
#partnersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
}
#speakersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
    margin-top: 30px;
}
.sponsorsArea{
    justify-content: space-around;
    padding: 15px;
}
.partnersCardOpacity{
    background-color: rgba(0,0,0,0.6)
}
.sponsorsCardOpacity{
    background-color: rgba(0,0,0,0.6);
}

.curriculumBackImage1{
    background-image: url("../../assets/10_handshake.jpg");
    background-size: cover;
    background-position: -0px -220px;
}
.curriculumBackImage2{
    background-image: url("../../assets/11_GuestSpeakers.jpg");
    background-size: cover;
    background-position: -0px -170px;
}
