.cardDeckLeft{
    text-align: center;
    width: 20vw;
    height: 100%;
}
.card-body{
    margin: auto;
}
.cardDeckRight{
    width: 60vw;
}
.rightPanelLeftCol{
    text-align: center;
    width: 30%;
}
.rightPanelRightCol{
    width: 60%;
}
.cardColumns{
    padding:0px;
}
.staticCard{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
}
.subtleButton{
    padding-top: 50px;
}
.subtleButton:hover{
    cursor: pointer;
}
#partnersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
}
#speakersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
    margin-top: 30px;
}
.sponsorsArea{
    justify-content: space-around;
    padding: 15px;
}
.partnersCardOpacity{
    background-color: rgba(0,0,0,0.8)
}
.sponsorsCardOpacity{
    background-color: rgba(0,0,0,0.8);
}
