.ProgramPage {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 25px;
}

.ProgramInfo {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  color: white;
  background-color: #8e5ea5;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.ProgramInfo > *,
.TopCard > *,
.BottomCard > * {
  margin-top: 10px;
  margin-left: 15px;
}

.TopCard,
.BottomCard {
  margin-left: 25px;
}

.TopCard,
.BottomCard {
  border: 3px solid #8e5ea5;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.BottomCard {
  bottom: 0;
}
