.ProgramPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.ProgramInfo {
  border: 3px solid white;
  color: white;
  background-color: #8e5ea5;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.TopCard > *,
.BottomCard > * {
  margin-top: 10px;
  margin-left: 15px;
}
.ProgramInfo > * {
  margin-top: 20px;
  margin-left: 20px;
}

.BottomCard {
  margin-top: 20px;
}

.TopCard,
.BottomCard {
  margin-left: 25px;
  border: 3px solid #8e5ea5;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.ApplyButton {
  margin-top: 30px;
}

@media (max-width: 700px) {
  .programContainer {
    display: flex;
    flex-direction: column;
  }
}
