.curriculumJumbotron{
    background-image: url('../../assets/9_CurriculumHeader.jpg');
    background-size: cover;
    color: #1E2125;
    z-index: 02;
    height:250px;
    position: relative;
    z-index: -2;
    margin: 0px;
}

.guestSpeakersOverlay{
    background-color:#1E2125; 
    opacity: .5; 
    height: 100%; 
    width: 100vw; 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: -1; 
}

.jumboText{
    margin: 0 auto;  
    z-index: 0; 
}

@media (max-width: 576px){
    .jumboText{
        margin-top: 30px; 
    }
} 