/* 
    .container class padding is causing overflow issues in smaller screens.  
    .staticCard margin-left: -9vw is also causing some centering issues. 

    this is causing guestSpeaker page content to push off to the right on smaller view ports. 
*/

.cardDeckLeft{
    text-align: center;
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color:#303336;
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.staticCard{
  background-color:#303336;
}
.guestSpeakerCardRight{
    width: 60vw;
    background-color: #fafbfc;
}
.card-body{
    margin: auto;
}
.rightPanelLeftCol{
    text-align: center;
    width: 30%;
}
.rightPanelRightCol{
    width: 60%;
}
.cardColumns{
    padding:0px;
    width: 100%;
    height: 100%;
    min-width: 350px;
    margin: auto;
}
.staticCard{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
}
.subtleButton{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-left: 5px solid #414141;
}
.subtleButton:hover{
    cursor: pointer;
    color: #414141;
    border-left: 5px solid #AB225D;
}
.toggled {
    color: #414141;
    border-left: 5px solid #206DD4;
    background-color: #fafbfc;
}
#partnersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
}
#speakersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
    margin-top: 30px;
}
.sponsorsArea{
    justify-content: space-around;
}

.guestSpeakersBackImage1{
    border:10px solid white;
    background-image: url("../../assets/10_handshake.jpg");
    background-size: cover;
}
.guestSpeakersBackImage2{
    border:10px solid white;
    background-image: url("../../assets/11_GuestSpeakers.jpg");
    background-size: cover;
}

.LI-profile-badge{
    display: block;
    margin: auto;
    padding: 10px;
    width: 100%;
}
.speakerName{
    padding-left: 15px;
}
.speakerAbout {
    font-style: italic ;
}
.speakerAboutSpan {
    font-style: normal; 
    font-weight: 600;
}

@media (max-width: 768px){

    .cardColumns{
        padding:0px;
        width: 100%;
        height: 100%;
        min-width: 320px;
        margin: auto;
    }
    .guestSpeakerCardRight {
        min-width: 320px;
    }

}
  
@media ( max-width: 414px){

    .staticCard{
        width: 90vw;
        /* margin-left: -9vw; */
    }
    .guestSpeakerCardRight > div > .row > div{
        font-size: 13px !important;
        padding: 0px !important;
    }
    .guestSpeakerCardRight > div > .row{
        padding: 0px !important;
        width: 100% !important;
    }
    .guestSpeakerCardRight {
        min-width: 70vw; 
    }
    .cardColumns{
        min-width: 70vw; 
    }
    .speakerName{
        padding-left: 0px;
    }
    .LI-profile-badge{
        min-width: 70vw; 
        padding: 10px 0px; 
    }
    .container{
        padding: 0; 
    }
}