.guestSpeakersJumbotron{
    background-image: url('../../assets/26_SpeakerHeader.jpg');
    color: #ccc;
    z-index: 02;
    background-size: 100%;
    height:250px;
    background-position: 0px -30px;
    position: relative;
    z-index: -2;
    margin: 0px;
}
