.programBackImage1{
    background-image: url("../../assets/partners.jpg");
    background-size: cover;
}
.programBackImage2{
    background-image: url("../../assets/partners.jpg");
    background-size: cover;
    background-position: -300px -0px;
}
.programBackImage3{
    background-image: url("../../assets/partners.jpg");
    background-size: cover;
    background-position: -0px -0px;

}
.programBackImage4{
    background-image: url("../../assets/partners.jpg");
    background-size: cover;
    background-position: -0px -0px;
}