.ProgramsCard {
  text-align: center;
  text-shadow: 1px solid black;
  color: black;
  background-color: white;
  margin: 20px;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid #8e5ea5;
  min-width: 400px !important;
  min-height: 300px;
}

/* .hovered {
  background-color: #8e5ea5;
  padding: 50px;
} */

.programImages {
  min-width: 400px !important;
  min-height: 300px;
}

.description {
  text-align: center;
  margin: auto;
}
