.ProgramsRow {
  display: flex;
  justify-content: center;
}

.ProgramsCard {
  text-align: center;
  text-shadow: 1px solid black;
  color: black;
  background-color: white;
  margin: 20px;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid #8e5ea5;
  min-width: 400px;
  height: 350px;
  overflow: hidden;
}

.description1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 20px 10px 50px 10px;
}

.learnMore {
  position: relative;
  margin-bottom: 15px;
  margin-top: 0px;
  width: 90%;
  bottom: 0;
  left: 0;
  outline: none !important;
}

.hoverContainer {
  position: relative;
  display: block;
  color: white;
  background-size: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.hovered {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px 5px 50px 5px;

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8e5ea5;
  color: #fff;
  opacity: 1;
  transition: all 1s ease-in-out;
  box-sizing: border-box;
}

.hoverContainer:hover .hovered,
.hoverContainer:active .hovered {
  top: 0;
}
.programImages {
  min-width: 100%;
  min-height: 300px;
}

.description {
  text-align: center;
  margin: auto;
}
.ProgramsCard:last-child {
  max-width: 47%;
}

.learnMore:hover {
  background-color: #00c9cb;
  outline: none;
}

@media (max-width: 375px) {
  .ProgramsCard {
    padding: auto;
    min-width: 200px;
  }
}

@media (max-width: 1000px) {
  .ProgramsCard:last-child {
    max-width: 46%;
  }
}
@media (max-width: 855px) {
  .ProgramsCard:last-child {
    max-width: 100%;
  }
}
