.introRowTile{
    background-color: transparent;
    color: white;
}
.introRow1Column1{
   background-color:#146eb4
}
.introRow1Column2{
    background-color:#ff9900;
 }
 .introRow1Column3{
    background-color:#146eb4;
 }
.introRow2Tile1{
    background-image: url("../../assets/2_AWS_home_curriculum_placement.jpg");
    background-size: cover;
}
.introRow3Tile1{
    background-image: url("../../assets/3_AWS_scholarship.jpg");
    background-size: cover;
}
.introRow3Tile2{
    background-image: url("../../assets/4_AWS_More_info.jpg");
    background-size: cover;
}
.purpleBackground{
    margin: auto;
    background-color: #146eb4;
}
.card{
    border: 0px !important;
}
.paddingRight{
    border-top: 5px solid white;
    border-right: 2.5px solid white;
}
.paddingLeft{
    border-top:5px solid white;
    border-left: 2.5px solid white;
}
.paddingMiddle{
    border-top: 5px solid white;
}