
.margin-left{
    margin-left: -15px; 
}
.margin-bottom{
    margin-bottom: 30px; 
}
.margin-top{
    margin-top: 30px; 
}
.introRowTile{
    background-color: transparent;
    color: white;
}
.introRow1Column1{
   background-color:#86549C
}
.introRow1Column2{
    background-color:#ff9900;
 }
 .introRow1Column3{
    background-color:#86549C;
 }
.introRow2Tile1{
    background-image: url("../../assets/2_AWS_home_curriculum_placement.jpg");
    background-size: cover;
}
.introRow3Tile1{
    background-image: url("../../assets/3_AWS_scholarship.jpg");
    background-size: cover;
}
.introRow3Tile2{
    background-image: url("../../assets/4_AWS_More_info.jpg");
    background-size: cover;
}
.homeCard5{
    margin: auto;
    padding: 10px;
    background-color: #ff9900;
}
.card{
    border: 0px !important;
}
.paddingRight{
    border-top: 5px solid white;
    border-right: 2.5px solid white;
}
.paddingLeft{
    border-top:5px solid white;
    border-left: 2.5px solid white;
}
.paddingMiddle{
    border-top: 5px solid white;
}
.programBenefitsRow{
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.programBenefits{
    margin: 9px 5px 11px 5px;
    width: 270px !important;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
    border-top: 3px solid #86549C;
    padding: 5px !important;
}
.programBenefits:hover{
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.5);
}
.programBenefitsImg{
    padding: 10px;
    border-radius: 20px;
    max-width: 250px;
    max-height: 230px;
}