.homeJumbo{
    background-image: url('../../assets/1_AWS_home.jpg');
    background-size: cover;
    color: #ccc;
    z-index: 02;
    height:250px;
    position: relative;
    z-index: -2;
    margin: 0px;
}
@media (max-width: 995px){
    .jumboText{
        font-size: 45px;
        padding: 0px;
    }
    .row2Tile{
        padding-left : 0px !important;
        padding-right: 0px !important;
    }
}
@media (max-width: 1199px){
    .row2Tile{
        padding-right: 0px !important;
    }
}
.homeOverlay{
    background-color: #000;
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}