.homeJumbo{
    align-items: center;
    background-color: black; 
    background-image: url('../../assets/AWS_home.png');
    background-size: cover;
    color: white;
    position: relative;
    z-index: -1;
    margin: 0px; 
    height: 100%; 
    width: 100%; 
}
/* @media (max-width: 633px){
    .homeJumbo{
        padding: 14vw 2vw 2vw 2vw;
    }
}
@media (min-width: 633px){
    .homeJumbo{
        padding: 13vw 2vw 2vw 2vw;
    }
}
@media (min-width: 770px){
    .homeJumbo{
        padding: 10vw 2vw 2vw 2vw;
    }
}
@media (min-width: 2000px){
    .homeJumbo{
        padding: 9vw 2vw 2vw 2vw;
    }
} */

.jumboContainer{
    height: 100%; 
    display: flex; 
    justify-content: center; 
}
.homeJumboText{
    width: 80%; 
    max-width: 550px; 
    margin: auto; 
    padding-top: 50px; 
}
.jumboText{
    align-self: center; 
}
.homeOverlay{
    height: 100%; 
    width: 100%; 
    z-index: -1; 
    position: absolute; 
    top: 0; 
    right: 0; 
    background-image: linear-gradient(45deg, transparent, rgb(68, 8, 125), black); 
    opacity: .6; 
}
.AWSLogo{
    position: absolute;
    top: 0; 
    left: 10px;
    background-image: url('../../assets/AWS-logo.png');
    width: 200px; 
    height: 70px; 
    z-index: 10; 
    background-size: contain; 
    background-repeat: no-repeat;
}
