.courseBackImage1{
    background-image: url("../../assets/6.1_AWS_Basics.jpg");
    background-size: cover;
}
.courseBackImage2{
    background-image: url("../../assets/6_AWS_Architect.jpg");
    background-size: cover;
    background-position: -300px -0px;
}
.courseBackImage3{
    background-image: url("../../assets/7_AWS_Operations.jpg");
    background-size: cover;
    background-position: -0px -0px;

}