* {
  margin: 0;
  padding: 0;
}
html{ scroll-behavior: smooth; }
body {
  overflow-x: hidden;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#body::-webkit-scrollbar { display: none; }
.body::-webkit-scrollbar { width: 0; }
.body { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col,
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11.col-xs-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11.col-sm-12, 
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11.col-md-12,
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11.col-lg-12,
.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11.col-xl-12,
.col-12{
  padding: 0px;
}
.jumbotron {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .jumboText {
    font-size: 100px;
  }
}

@media screen and (min-width: 601px) {
  .jumboText {
    font-size: 60px;
  }
}
.link{
  text-decoration: none;
  font-weight: 700;
  color: darkgrey;
}
.link:hover{
  color:  black;
}
.linkLight{
  text-decoration: none;
  font-weight: 700;
  color: lightgrey;
}
.linkLight:hover{
  color:  white;
}
.linkDark{
  text-decoration: none;
  font-weight: 700;
  color: #1E2125;
}
.linkDark:hover{
  color:  black;
  cursor: pointer;
}
.centralText{
  display: flex;
  justify-content: center;
  text-align: center;
}
.container{
  width: 90vw;
}
@media (min-width: 1200px){
  .container {
    max-width: 1500px;
  }
}

.overImage{
  background-color: rgb(0, 0, 0, .65);
  color: white;
  height: 100%;
}
.card{
  width: 100% !important;
  border-radius: 0px !important;
  height: 100% !important;
  justify-content: space-between !important;
  border: 0px !important;
}
.card-body {
  margin: auto;
  width: 100%;
  white-space: pre-wrap;
}

.card-body ul {
  padding: 5%;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}
.noPadding{
  padding: 0px;
}
.noMargin{
  margin: 0px;
}
.offWhite{
  background-color: #fafbfc
}
.popover-header{
  position: fixed;
  width: 70vw; 
  height: 350px;  
  margin-left:-35vw; 
  margin-top: -350px; 
  overflow: scroll;
  z-index: 100;
}
.arrow{
  display:none !important;
}

.contentCentered{
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  text-align: center;
}

.smallLineHeight{
  line-height: 12px;
}

.nobull {
  list-style-type: none;
}
.btn-primary{
  color: black;
  background-color: white;
  border-color: white;
}
.btn-secondary{
  color: white;
  background-color: #7F5A8F;
  border-color: #7F5A8F;
}
.btn-secondary:hover{
  color: white;
  background-color: #3B3D7B;
  border-color: #3B3D7B;
}
.fullWidth{
  width: 100% !important;
}
.bottom{
  position:absolute;  
  margin-left: 5%;
  margin-bottom: 15px;
  margin-top: 0px;
  width: 90%;                
  bottom: 0;                          
  left: 0; 
}
#spacer{
  height: 50px;
  width: 100px;
  display:inline-block;
}
.jumbotron {
  border-radius: 0px;
}
.nav-link:hover {
  color: white !important;
  text-decoration: none;
}
.loader {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 40vw;
  top: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
}
.loaderText {
  color: white;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 40vw;
  top: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  padding-top:-20px;
  background: #8E5EA5;
  border-radius: 10px;
}
.loader > div {
  width: 20px;
  height: 20px;
  background: #A80D52;
  border-radius: 50%;
  margin : 3px;
  animation: loader 0.6s infinite alternate;
  align-items: center;
}
.fullScreen{
  background-color: rgba(0, 0, 0, 0.786);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
.loaderContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}
@keyframes loader {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
    background : pink;
  }
}
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }