.scholarshipsJumbotron{
    background-image: url('../../assets/3_AWS_scholarship.jpg');
    background-size: 100%;
    color: #333333;
    z-index: 02;
    height:250px;
    z-index: -2;
    margin: 0px;
}