.staffJumbo {
  background-image: url("../../assets/1_AWS_home.jpg");
  background-size: cover;
  color: white;
  z-index: 1;
  height: fit-content;
  position: relative;
  margin: 0px;
  font-size: x-large;
  text-shadow: 1px 1px 1px #8e5ea5;
  min-height: 325px;
  filter: grayscale(100%);
}
