.staffJumbo{
    background-image: url('../../assets/1_AWS_home.jpg');
    background-size: cover;
    color: white;
    filter: grayscale(100%);
    z-index: 1;
    height: fit-content;
    position: relative;
    margin: 0px;
    padding: 30px;
    font-size: x-large;
    text-shadow: 1px 1px 1px #8E5EA5; 
}