.HomeUrlCard{
    text-align: center;
    color: white;
    margin: 10px;
    border: 5px solid #00C9CB;
    box-shadow: inset 0px 0px 10px #000000;
    outline: 15px solid white;
    min-width: 300px;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    padding: 10px !important;
}
.HomeUrlCard > h3 {
    margin: auto;
    padding-bottom: 0px;
}