.homeJumbo{
    background-image: url('../../assets/NebulaDronepicsChapinSchool_25.jpg');
    background-size: cover;
    color: white;
    z-index: 1;
    height: fit-content;
    position: relative;
    font-size: x-large;
    text-shadow: 1px 1px 1px #8E5EA5; 
}
