.HomeUrlCard{
    text-align: center;
    color: white;
    margin: 20px;
    border: 5px solid #00C9CB;
    box-shadow: inset 0px 0px 10px #000000;
    outline: 20px solid white;
    min-width: 300px;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    padding: 7px !important;
}