.WorkforceDevelopmentUrlCard{
    text-align: center;
    color: black;
    background-color: white;
    margin: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    border: 3px solid #8E5EA5;
    min-width: 300px;
    min-height: 200px;
}