.WorkforceDevelopmentJumbo {
  background-image: url("../../assets/AdobeStock_316503002.jpg");
  background-size: cover;
  color: white;
  z-index: 1;
  height: fit-content;
  position: relative;
  margin: 0px;
  padding: 30px;
  font-size: x-large;
  min-height: 325px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-shadow: 1px 1px 1px #8e5ea5;
}
