.introRowTile{
    background-color: transparent;
    color: white;
}
.introRow1Column1{
   background-color:#434686
}
.introRow1Column2{
    background-color:#8A659A;
 }
 .introRow1Column3{
    background-color:#992653;
 }
.introRow2Tile1{
    background-image: url("../../assets/2_JobPlacement.jpg");
    background-size: cover;
}
.introRow3Tile1{
    background-image: url("../../assets/3_scholarship.jpg");
    background-size: cover;
}
.introRow3Tile2{
    background-image: url("../../assets/4_GetMoreInfo.jpg");
    background-size: cover;
}
.purpleBackground{
    margin: auto;
    background-color: #434686;
}
.guarantee{
    margin: auto;
    padding: 10px;
    background-color:#8A659A;
}
.paddingRight{
    border-top: 5px solid white;
    border-right: 2.5px solid white;
}
.paddingLeft{
    border-top:5px solid white;
    border-left: 2.5px solid white;
}
.paddingMiddle{
    border-top: 5px solid white;
}

.bottom{
    position:absolute;  
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 0px;
    width: 90%;                
    bottom: 0;                          
    left: 0; 
}
#spacer{
    height: 50px;
    width: 100px;
    float: left;
    display:inline-block;
}