.formContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
}
.registrationPadding{
    padding: 10px !important;
}
.registrationCard{
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    border-radius: 20px;
    border: 10px solid #FF8C0E;
    padding: 10px;
}
.registrationCard:hover{
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.5);
    border-radius: 20px;
    border: 10px solid #FF8C0E;
}
#registrationTabs-tab-STUDENT{
    transition: transform 300ms ease-in; 
    font-size: 18px; 
}
#registrationTabs-tab-EDUCATOR{
    transition: transform 300ms ease-in; 
    margin-left: 10px; 
}
#registrationTabs-tab-STUDENT:hover, #registrationTabs-tab-EDUCATOR:hover{
   transform: translate(5%);  
}