.formContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
}
.registrationPadding{
    padding: 10px !important;
}
.registrationCard{
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    margin: 15px;
    border-radius: 20px;
    border: 10px solid #FF8C0E;
    padding: 10px;
}
.registrationCard:hover{
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.5);
}
.educatorRegistrationCard{
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
    margin: 15px;
    border-radius: 20px;
    border: 10px solid#7F5A8F;
    padding: 10px;
}
.educatorRegistrationCard:hover{
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.5);
}
.educatorRegistrationButton{
    background-color:#7F5A8F;
    border: 1px solid #7F5A8F;
}
.textWrap{
    width: 95%; 
    margin: 0 auto; 
}
.resgistrationMessage{
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 25px; 
}
.textWarning{
    color: red; 
}
#registrationTabs-tab-STUDENT{
    margin-left: 10px; 
}
#registrationTabs-tab-EDUCATOR,
#registrationTabs-tab-STUDENT{
    display: flex; 
    justify-content: center; 
    transition: 300ms ease-in;   
    background-color: #7F5A8F; 
    color: gray; 
    opacity: .9; 
    border-bottom: none; 
}
#registrationTabs-tab-EDUCATOR.active, 
#registrationTabs-tab-STUDENT.active{
    transition: 300ms ease-in;    
    color: #FF8C0E; 
    opacity: 1; 
    border: none; 
}
.nav-tabs .nav-link{
    font-weight: bold; 
    margin: 0 auto; 
    width: 120px; 
    color: black; 
    font-size: 14px;
    text-align: center;  
}
.nav-tabs .nav-link.active{
    font-style: italic; 
}
.alignCenter {
    margin: 15px; 
}
.registrationContainer{
    border: 2px solid #7F5A8F; 
    border-radius: 10px; 
    margin-bottom: 15px; 
}
nav.nav.nav-tabs{
    border: none; 
}