.programsJumbotron{
    background-image: url('../../assets/DronepicsChapinSchool_Nebula.jpg');
    background-size: cover;
    color: #ccc;
    height: 250px;
    position: relative;
    z-index: -2;
    margin: 0px; 
}

.programOverlay {
    height: 100%; 
    width: 100%; 
    z-index: -1; 
    position: absolute; 
    top: 0; 
    right: 0; 
    background-color: black; 
    opacity: .4; 
}