.programTile1{
    padding: 10px;
    min-height: 250px;
    background-color: #8D60A4;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.4);
    height: 97%;
    margin-bottom: 50px; /* added margin bottom to make room for the third button */
}
.programTile2{
    padding: 10px;
    min-height: 250px;
    background-color: rgb(87, 87, 87);
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.4);
    height: 97%;
    margin-bottom: 50px; 
}
.programTile3{
    padding: 10px;
    min-height: 250px;
    background-color: #9497D1;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.4);
    height: 97%;
    margin-bottom: 50px; 
}
.programTile4{
    padding: 10px;
    min-height: 250px;
    background-color: rgb(87, 87, 87);
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.4);
    height: 97%;
}
.programHeader{
    margin-left: 15px; 
}
.programH1 {
    margin-left: 15px; 
}
@media only screen and (min-width: 991px){
    .programText{
    margin-left: 15px; 
    }
}