.cardDeckLeft{
    text-align: center;
    height: 100%;
    color: #ffffff;
    background-color: #9971AF;
}
.cardDeckRight{
    width: 60vw;
    /* background-color: #fafbfc; */
}
.card-body{
    margin: auto;
}
.rightPanelLeftCol{
    text-align: center;
    width: 30%;
}
.rightPanelRightCol{
    width: 60%;
}
.cardColumns{
    padding:0px;
}
.staticCard{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px 4px rgba(0,0,0,0.2);
}
@media ( max-width: 414px){
    .staticCard{
        width: 100vw;
        margin-left: -10vw;
    }
    .cardDeckRight > div > .row > div{
        font-size: 13px !important;   
        padding: 0px !important;
    }
    .cardDeckRight > div > .row{
        padding: 0px !important;
        width: 112% !important; 
    }
}
.subtleButton{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-left: 5px solid #414141;
}
.subtleButton:hover{
    cursor: pointer;
    color: #414141;
    border-left: 5px solid #AB225D;
}
.toggled {
    color: #414141;
    border-left: 5px solid #ff9900;
    background-color: #ffffff;
}
#partnersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
}
#speakersCard{
    overflow: hidden;
    width: 40%;
    height: 325px;
    margin-top: 30px;
}
.sponsorsArea{
    justify-content: space-around;
}
.curriculumBackImage1{
    border:10px solid white;
    background-image: url("../../assets/8_AWS_partners.jpg");
    background-size: cover;
}
.curriculumBackImage2{
    border:10px solid white;
    background-image: url("../../assets/9_AWS_presenter.jpg");
    background-size: cover;
}
.curriculumButton{
    width: 100%; 
    margin-bottom: 0px; 
}